#game-window {
  display: none;
}

.cards-container {
  display: none;
  justify-content: center;
  gap: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.cards {
  width: 600px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #002a42;
}

.card {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #002a42;
  cursor: pointer;
  background-color: #74eafd87;
}

.card:hover {
  border: 3px solid #002a42;
}

