.back-btn {
  padding: 15px 30px;
  font-weight: 100;
  font-size: 24px;
  background-color: white;
  border-radius: 20px;
  transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.back-btn:hover,
.back-btn:focus {
  color: white;
  background-color: black;
}
.menu {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.lifes {
  display: flex;
}

.life-element {
  background: url('../images/theme1/life.png');
  width: 70px;
  height: 70px;
  margin-right: 10px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.timer {
  width: 160px;
  height: 160px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.timer span {
  font-size: 80px;
  font-weight: 700;
}