.card-selection {
  display: flex;
  flex-direction: column;
  height: max-content;
  align-items: center;
  
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.cards-options {
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}


.selection-block-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

.card-selection .card {
  background-color: #0c6abb8c;
}

.cards-options input {
  display: none;
}

.cards-options input[type=radio]:checked+label {
  border: 4px solid rgb(217, 0, 51);
  border-radius: 5px;
  transform: scale(1.1);
}


.topics-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

