.card-selection {
  display: flex;
  flex-direction: column;
  height: max-content;
  align-items: center;
  
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  /* background-color: white; */
}

.cards-options {
  /* width: auto; */
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
 
}



.selection-block-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.card-selection .card {
  background-color: #0c6abb8c;
}

.cards-options input {
  display: none;
}

.cards-options input[type=radio]:checked+label {
  border: 4px solid rgb(217, 0, 51);
  border-radius: 5px;
  transform: scale(1.1);
}


.topics-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}