html, body {
	padding: 0;
	margin: 0;  
    width: 100%;  
    height: 100%;  

}
body {
    background: url('./images/sea/background.jpg') repeat center center;
    
    background-size: cover; 
 
}

ul, li, h1, h2  {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*==================== МЕНЮ ====================*/
.menu {
    display: flex;  
    gap: 30px;  
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 50px;
    /* max-width: 360px; */
    margin: 0 auto;    
}

.lifes {
    display: flex;
}

.lifes span {
    background: url('./images/sea/fish-heart.png');
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.timer {
    font-size: 30px;
    font-weight: 700;
}
/*=================================================*/

/*==================== ГОЛОВНЕ ПОЛЕ ГРИ ====================*/
.cards-container { 
    /* width: 100%;    */
    /* height: 100%; */
    display: none;
    /* display: flex; */
    gap: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    /* flex-direction: column; */
    /* align-items: center; */
    /* background: url('./images/sea/background.jpg') no-repeat center center;
    background-size: cover; */
   
}

.cards {  
    width: 600px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;  
  justify-content: center;
    /* margin: 10px; */
    border: 2px solid #002a42;  
}

.card {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #002a42; 
    cursor: pointer; 
    background-color: #74eafd87;  
}

.card:hover {
    border: 3px solid #002a42;
}

img {
    width: 100%;

    display: block;   
}

/* Приховує карточку */
.hidden {
    visibility: hidden;
}

/*===== Поле з вибором карточок =====*/
.card-selection {
    /* max-width: 400px;     */
    /* margin: 20px;     */
    /* border-top: 3px dashed #46004b; */
}

.card-selection .card {
    background-color: #0c6abb8c;
}

.cards input{
    display: none;
}

.cards input[type=radio]:checked + label {
    border: 3px solid #46004b;
    border-radius: 5px;
    transform: scale(1.1);    
}

/*=================================================*/

ul {
    list-style: none;
}

.topics-list {
    display: flex;
   
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.topic-btn {
    width: 100%;
    height: auto;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.topic-btn.active {
    background-color: orangered;
}

.topics-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.topics-block {
    padding: 15px 30px;
    background-color: #74eafd87;
    border-radius: 20px;
}

/*==================== Стилі для стартового вікна ====================*/
/*==================== Стилі для стартового вікна ====================*/
/*==================== Стилі для стартового вікна ====================*/
/*==================== Стилі для стартового вікна ====================*/
#start-window,
#end-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: opacity;
}
#start-window {
    padding-top: 30px;
}


#start-window #theme1,
#theme2,
#level1,
#level2,
#game-with-timer,
#game-without-timer,
#start-game,
#rules,
#restart-game {
    padding: 10px;
     border-radius: 5px;

}




/*==================== Стилі для вікна гри ====================*/
/*#game-window {
    display: none;   
}

/*==================== Стилі для кнопки з правилами  ====================*/
#rules {
    margin: 10px;
}



#start-window-categories {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}


.start-window-item {
display: flex;
flex-direction: column;
gap: 20px;
}


.greeting {
    font-weight: 900;
  background-color: white;
  padding: 10px;

    font-size: 60px;
    margin-bottom: 30px;
    
}


#game-window {
    display: none;
}
#end-window {
    display: none;
}