html, body {
	padding: 0;
	margin: 0;  
    width: 100%;  
    height: 100%;  

}

body {
        background: url('./images/start-background.jpg') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: end;
        font-family: 'Rubik Bubbles', cursive;
      
    }
 
button {
font-family: 'Rubik Bubbles', cursive;
}

ul, li, h1, h2  {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*==================== МЕНЮ ====================*/
.menu {
    display: flex;  
    gap: 30px;  
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 50px;
    /* max-width: 360px; */
    margin: 0 auto;    
}

.lifes {
    display: flex;
}

.life-element {
    background: url('./images/theme1/life.png');
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.timer {
    width: 160px;
    height: 160px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.timer span {
    font-size:80px;
    font-weight: 700;
}
/*=================================================*/

/*==================== ГОЛОВНЕ ПОЛЕ ГРИ ====================*/
.cards-container { 
    display: none;
    /* flex-direction: column; */
    gap: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;

   
}

.cards {  
    width: 600px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    border: 2px solid #002a42;  
}

.card {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #002a42; 
    cursor: pointer; 
    background-color: #74eafd87;  
}

.card:hover {
    border: 3px solid #002a42;
}

img {
    width: 100%;
    display: block;   
}

/* Приховує карточку */
.hidden {
    visibility: hidden;
}

/*===== Поле з вибором карточок =====*/
.card-selection {
    height:max-content;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    
    /* max-width: 400px;     */
    /* margin: 20px;     */
    /* border-top: 3px dashed #46004b; */
}
.selection-block-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.card-selection .card {
    background-color: #0c6abb8c;
}

.cards input{
    display: none;
}

.cards input[type=radio]:checked + label {
    border: 4px solid rgb(217, 0, 51);
    border-radius: 5px;
    transform: scale(1.1);    
}

/*=================================================*/

ul {
    list-style: none;
}

.topics-list {
    display: flex;
   
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.btn {
    font-family: 'Rubik Bubbles', cursive;
    width: 100%;
    height: auto;
    background-color: rgb(245, 186, 187);
    border-radius: 10px;
    border: 1px solid rgb(238, 119, 139);
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    color: black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn.active {
    color: white;
    background-color: rgb(217, 0, 51);
}
.btn:hover, .btn:focus {
    color: white;
    background-color: rgb(217, 0, 51);
}
.topics-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.back-btn {
    padding: 15px 30px;
    font-weight: 100;
    font-size: 24px;
    background-color: white;
    border-radius: 20px;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}


.back-btn:hover,
.back-btn:focus {
    color: white;
    background-color: black;
}

/*==================== Стилі для стартового вікна ====================*/
/*==================== Стилі для стартового вікна ====================*/
/*==================== Стилі для стартового вікна ====================*/
/*==================== Стилі для стартового вікна ====================*/
/* #start-window, */
#end-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 100vh; */
    /* background-color: opacity; */
}

#start-window #theme1,
#theme2,
#level1,
#level2,
#game-with-timer,
#game-without-timer,
#start-game,
#rules,
#restart-game {
    padding: 10px;
    border-radius: 5px;

}




/*==================== Стилі для вікна гри ====================*/
/*#game-window {
    display: none;   
}

/*==================== Стилі для кнопки з правилами  ====================*/


#start-window {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    
}
#start-window-categories {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}


.start-window-item {
display: flex;
flex-direction: column;
gap: 20px;
}


.greeting {
  /* padding: 10px; */
  font-size: 70px;
    margin-bottom: 30px;
    
}


#game-window {
    display: none;
}
#end-window {
    display: none;
}


.back-btn{
    cursor: pointer;
    font-weight: 900;

}


#start-game {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 200px;
    right: 300px;
    font-family: 'Rubik Bubbles', cursive;
    color: white;
    padding: 20px 30px;
    font-size: 60px;
    border: none;
    border: 3px solid rgb(217, 0, 51);
    border-radius: 20px;
    background-color: rgb(217, 0, 51);
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 20px rgba(0, 0, 0, 0.2) inset;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}


#start-game:hover span, #start-game:focus span  {
    /* background-color: white; */
    color: rgb(217, 0, 51);
  
}
#start-game:hover, #start-game:focus  {
    background-color: white;
    /* color: rgb(217, 0, 51); */
  
}

.cat-rules {
    position: absolute;
    bottom: -3px;
    left: 30px;
    width: 300px;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 0 rgb(217, 0, 51)) drop-shadow(-1px -1px 0 rgb(217, 0, 51));
    filter: drop-shadow(1px 1px 0 rgb(217, 0, 51)) drop-shadow(-1px -1px 0 rgb(217, 0, 51));
}

.cloud-rules {
    position: absolute;
    bottom: 340px;
    left: 250px;
    width: 320px;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 0 rgb(217, 0, 51)) drop-shadow(-1px -1px 0 rgb(217, 0, 51));
    filter: drop-shadow(1px 1px 0 rgb(217, 0, 51)) drop-shadow(-1px -1px 0 rgb(217, 0, 51));
}





#rules-window{
    position: absolute;
    bottom: 510px;
    left: 300px;
}

#rules {
    font-family: 'Rubik Bubbles', cursive;
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
    color: black;
    cursor: pointer;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

#rules:hover, #rules:focus{
   color: rgb(217, 0, 51);
}


@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");


.wrapper span {
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
  
    text-shadow: 0 2px white, 0 2px rgb(245, 186, 187);
    transform: translate(0, 20%) rotate(4deg);
    animation: jump 2s ease-in-out infinite;
    display: inline-block;
    font-family: "Titan One", cursive;
    color: white;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper span:nth-child(1) {
    animation-delay: 120ms;
}

.wrapper span:nth-child(2) {
    animation-delay: 240ms;
}

.wrapper span:nth-child(3) {
    animation-delay: 360ms;
}

.wrapper span:nth-child(4) {
    animation-delay: 480ms;
}

.wrapper span:nth-child(5) {
    animation-delay: 600ms;
}

.wrapper span:nth-child(6) {
    animation-delay: 720ms;
}

.wrapper span:nth-child(7) {
    animation-delay: 840ms;
}

@keyframes jump {
    33% {
        /* text-shadow: 0 10px #f37121, 0 50px #f2aaaa; */
    }

    50% {
        transform: translate(0, 0) rotate(-4deg);
        text-shadow: 0 2px black, 0 2px #84a9ac;
    }

    66.67% {
        /* text-shadow: 0 -10px #d54062, 0 -50px white; */
    }
}



